.column{
  float: left;
  width: 30%;
  min-height: 190px;
  min-width: 150;
}

.column2{
  float: right;
  width: 65%;  
  min-height: 190px;
  min-width: 350px;
}

.column3{

  min-height: 110px;
}

.page{
  padding-left: 10px;  
  padding-right: 10px;
  background-color: lightgray;
}

.row{
  min-width: 500px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}