.column{
  float: left;
  width: 50%;
  background-color: lightgray;
  min-height: 100px;
}

.column2{
  float: left;
  width: 50%;  
  background-color: lightskyblue;  
  min-height: 100px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}