.column{
  float: left;
  width: 35%;
  min-height: 190px;
}

.column2{
  float: left;
  width: 65%;  
  min-height: 190px;
}

.column3{

  min-height: 110px;
}

.page{
  padding-left: 10px;  
  padding-right: 10px;
  background-color: lightgray;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}